<div id="hero" class="hero route bg-image"
  style="background-image: url(https://media.istockphoto.com/vectors/tile-abstract-shape-background-vector-id1272795679?k=20&m=1272795679&s=612x612&w=0&h=PPHU5MysyECP-fvWY2ZzPG4p-sWNMP4r2ldkS7nLSZ0=)">
  <div class="overlay-itro"></div>
  <div class="hero-content display-table">
    <div class="table-cell">
      <div class="container">
        <!--<p class="display-6 color-d">Hello, world!</p>-->
        <h1 class="hero-title mb-4"><b>Welcome</b>,This is my portfolio</h1>
        <h2>Iam Sreenath</h2>
        <p class="hero-subtitle">
          <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span>
        </p>
        <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
      </div>
    </div>
  </div>
</div>